.header {
  background-color: #000;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
}
